---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Home" bodyClass="home">
  <style is:global>
    body.home main { font-size: 26px; }
    body.home main .hello { font-size: 34px; }
  </style>
  <p class="hello"><strong>Hello!</strong></p>

  <p>
    Welcome to my online space. You’ve probably ended up here by chance or on
    purpose. Feel free to have a look around.
  </p>

  <p>
    If you’d like to know <a href="/about-me"><strong>“About me”</strong></a>.
  </p>
  <p>
    If you’d like to know what <a href="/projects"><strong>“Projects”</strong></a> I’ve worked
    on or am currently working on.
  </p>
  <p>
    If you’d like to read some of my <a href="/writings"><strong>“Writings”</strong></a>.
  </p>
  <p>
    If you’re still curious, these
    <a href="/rubricas"><strong>“Unusual Rubricas”</strong></a> will show you the upside
    down part of my diaries.
  </p>
</BaseLayout>
