---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Home" bodyClass="home">
  <style is:global>
    body.home main { font-size: 20px; }
    body.home main .hello { font-size: 24px; }
  </style>
  <p class="hello"><strong>Hello!</strong></p>

  <p>
    Welcome to my online space. You’ve probably ended up here by chance or on
    purpose. Feel free to have a look around.
  </p>

  <p>
    If you’d like to know <a href="/about-me"><strong>“About me”</strong></a>, perhaps this
    section will satisfy your curiosity.
  </p>
  <p>
    If you’d like to know what <a href="/projects"><strong>“Projects”</strong></a> I’ve worked
    on or am currently working on, then this is probably the right section for
    you.
  </p>
  <p>
    If you’d like to read some of my <a href="/writings"><strong>“Writings”</strong></a>,
    perhaps this is section is what you need.
  </p>
  <p>
    If you’re really curious, then perhaps these
    <a href="/rubricas"><strong>“Unusual Rubricas”</strong></a> might lead you to the upside
    down part of my diaries, where lists with peculiar titles appear.
  </p>
</BaseLayout>
